## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>${_('FDUniversity Help')}</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      var hash = window.location.hash

      if (hash) {
        $('section' + hash).show();
        $('#about-menu a.' + hash.substring(1)).addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }

      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">${_('Help')}</a>
    <a href="#contact" class="contact">${_('Contact')}</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <article>
        <h2>${_('For General Support Inquiries:')}</h2>
	<p>First time navigating the FDU system? No problem!</p>
        <p>FDU is a simple tool that contains your online learning courses. It allows you to see your assigned courses, complete them, and track your progress! Take a look at the video below for an overview of how to get around in FDU</p>
</br>
        <iframe src="http://www.youtube.com/embed/uMLtp2-65ZE" width="600" height="500" frameborder="0" allowfullscreen></iframe>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

<!--Comment out Careers..
## Careers Section ##
    <section class="message left" id="careers">
      <div class="photo">
        <img src="${static.url('themes/default/images/careers.jpg')}" alt="" />
      </div>
      <article>
        <h2>${_('Careers')}</h2>
        
        <p>Your job postings go here!</p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
..End Comment Out Careers-->


## Contact Section ##
    <section class="message left" id="contact">
      <article id="stanford-OpenEdX-contact">
        <h2>${_('For General Support Inquiries:')}</h2>

        <p><strong>E-mail:</strong></p>
	<p><a href="mailto:jnarvasa@freshdirect.com">jnarvasa@freshdirect.com</a
></p>

        <p>&nbsp;</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
